<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itcontroller.movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MoviesViewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.itcontroller.movies.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ParticualrMovieActivity"
            android:parentActivityName=".activities.MoviesViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.itcontroller.movies.activities.MoviesViewActivity" />
        </activity>

        <activity
            android:name=".activities.DiscoverMoviesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.itcontroller.movies.MainActivity" />
        </activity>

        <activity
            android:name=".activities.FilterActivity"
            android:parentActivityName=".activities.DiscoverMoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DiscoverMoviesActivity" />
        </activity>

    </application>

</manifest>